<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserSearchFlightMapper">

    <select id="getFlightMessage" resultType="com.sky.vo.UserSearchFlightVO">
        select * from flight
        <where>

            <if test="flightStartTime != null">
                flight_start_time = #{flightStartTime}
            </if>
            <if test="flightStartPlace != null">
                flight_start_place = #{flightStartPlace}
            </if>
            <if test="flightEndPlace != null">
                flight_end_place = #{flightEndPlace}
            </if>

        </where>
    </select>
</mapper>
